@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway_Bold.ttf');
    font-weight: bold;
    font-size: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway_SemiBold.ttf');
    font-weight: 600;
    font-size: normal;
}
body {
    font-family: 'Raleway', Arial, 'Arial Black', 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
    margin: 0px; /*retirer marge par défault*/
}
/*page entière*/
#bloc_page {
    margin-left: 50px;
    margin-right: 50px;
}
@media all and (max-width: 700px) {
    /*marge sur mobile*/
    #bloc_page {
      width: auto;
      margin-left: 5px;
      margin-right: 5px;
    }
}
/*logo*/
#logo {
    margin-right: auto;
}
@media all and (max-width: 700px) {
    /*décalage du logo sur mobile*/
    #logo {
        padding-left: 4%;
    }
}
#logo img {
    margin-top: 40px;
    height: 50px;
    width: 100px;
}
@media all and (max-width: 700px) {
    /*marge du logo sur mobile*/
    #logo img {
        margin-top: 25px;
    }
}
/*menu à droite*/
#entete {
    display: flex;
    justify-content: flex-end;
}
@media all and (max-width: 700px) {
    /*menu en grille sur mobile*/
    #entete {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 55px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
#menu {
    padding-top: 45px;
    display: flex;
    margin-right: 60px;
    gap: 30px;
}
@media all and (max-width: 700px) {
    /*bordure bot pour le menu sur mobile*/
    #menu {
        grid-column: 1 / span2;
        column-gap: 0;
        border-bottom: #deebff solid 2px;
        margin-right: -15px;
        margin-left: -15px;
        padding-top: 0;
    }
}
@media all and (max-width: 700px) {
    #menu .menu_hebergements,
    #menu .menu_activite {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}
@media all and (max-width: 700px) {
    /*bordure bot bleu pour hébergements sur mobile*/
    #menu .menu_hebergements {
        border-bottom: #0065fc solid 3px;
    }
}
.menu_hebergements a {
    color: #0065fc;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    border-top: #0065fc solid 2px; /*bordure top pour hébergement*/
    padding: 42px;
    align-items: center;
}
@media all and (max-width: 700px) {
    /*disparition de la bordure top sur mobile*/
    .menu_hebergements a {
        font-size: 15px;
        border-top: none;
    }
}
.menu_activite a {
    color: #000;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
}
@media all and (max-width: 700px) {
    /*mobile*/
    .menu_activite a {
        font-size: 15px;
    }
}
#inscription {
    padding-top: 45px;
    padding-right: 2%;
    font-size: 17px;
}
@media all and (max-width: 1024px) {
    #inscription {
        padding-right: 0;
    }
}
@media all and (max-width: 700px) {
    /*s'inscrire passe sur la 2eme colonne et prend 1 ligne*/
    #inscription {
        grid-row: 1;
        grid-column-start: 2;
        justify-self: end;
    }
}
#inscription a {
    text-decoration: none; /*enlève sur soulignage de s'inscrire*/
    font-weight: bold;
    color: #0065fc
}
.recherche {
    padding-top: 30px;
    font-size: 22px;
}
@media all and (max-width: 700px) {
    .recherche {
        margin-left: 20px;
        margin-right: 20px;
    }
}
/*espace entre le texte et le formulaire de recherche*/
.recherche form {
    padding-top: 17px;
}
@media all and (max-width: 700px) {
    .recherche form {
        padding-top: 33px;
    }
}
/*espace entre les textes au dessus du formulaire de recherche*/
.recherche .st {
    margin-top: 10px;
}
/*taille du texte au dessus du formulaire de recherche*/
.st {
    font-size: 16px;
}
.bloc_recherche {
    display: flex;
    margin-bottom: 9px;
    font-size: 17px;
    margin-left: 10px;
}
/*icone localisation*/
.position_map {
    border: #f2f2f2 solid 2px;
    border-radius: 13px 0px 0px 13px;
    font-size: 17px;
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /*permet d'avoir le curseur de la souris en forme de main sur l'icone de localisation*/
}
.formulaire {
    height: 50px;
    width: 230px;
    border: #f2f2f2 solid 2px;
    font-weight: bold;
    font-size: 17px;
}
.formulaire input {
    text-decoration: none;
    border: none;
    height: 50px;
    font-weight: Bold;
    width: 100%;
}
/*texte indicatif dans le formualaire de recherche*/
.formulaire input::placeholder {
    color: black;
    font-size: 17px;
    padding-left: 15px;
}
/*bouton de recherche*/
.bouton input {
    border: #0065fc solid 2px;
    border-radius: 0px 13px 13px 0px;
    font-size: 17px;
    background-color: #0065fc;
    color: white;
    height: 53px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media all and (max-width: 700px) {
    /*bouton de recherche devient une image et perd son texte sur mobile*/
    .bouton input {
        width: 53px;
        background-color: #0065fc;
        border-radius: 12px;
        border: none;
        font-size: 0;
        background: url("images/logo/icon_search.png") center no-repeat;
        background-color: #0065fc;
        background-size: 50px;
        margin-left: -10px;
    }
}
/*permet d'avoir le curseur de la souris en forme de main sur le bouton de recherche*/
.bouton input:hover {
    cursor: pointer;
}
.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 50px;
    gap: 30px;
}
@media all and (max-width: 700px) {
    .filtres {
        margin-right: 0;
    }
}
.mon_filtre {
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.filtres a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 46px;
    line-height: 46px;
    font-weight: bold;
    margin-top: -22px;
    margin-left: -20px;
}
@media all and (max-width: 700px) {
    .filtres a {
        margin-top: -10px;
    }
}
/*filtres affichés en bleu au survole*/
.filtres a:hover {
    color: #0065fc;
}
/*filtre individuel*/
.filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: #f2f2f2 solid 2px;
    border-radius: 50px;
    margin-right: 25px;
    height: 46px;
    line-height: 46px;
    padding-right: 20px;
}
@media all and (max-width: 700px) {
    .filtre {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: 14px;
        margin-right: 10px;
    }
}
.elements_filtres {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
}
@media all and (max-width: 700px) {
    .elements_filtres {
        justify-content: left;
        gap: 10px;
        margin-left: 10px;
    }
}
/*alignement des icones fontAwesome*/
.filtre .fa-stack-2x {
    font-size: 50px;
    margin-left: -22px;
    margin-top: -2px;
}
.filtre .fa-stack-1x {
    font-size: 17px;
    margin-left: -22px;
    margin-top: -14px;
}
@media all and (max-width: 700px) {
    .filtre .fa-stack-1x {
        margin-top: -6px;
    }
}
.info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 16px;
    margin-right: 10px;
    padding-right: 20px;
    padding-top: 35px;
    padding-bottom: 34px;
}
@media all and (max-width: 700px) {
    .info {
        font-size: 15px;
        padding-top: 0;
        padding-right: 0;
    }
}
.icone_info {
    margin-right: 10px;
    font-size: 8px;
}

/*------------------*/
/*---Hébergements---*/
/*------------------*/
.a_la_une {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse; /*affiche les populaires au dessus des autres si reduction de la fenêtre*/
    justify-content: space-between;
    row-gap: 30px;
}
@media all and (max-width: 1024px) {
    .a_la_une {
        display: flex;
        flex-direction: column-reverse;
        margin-left: -50px;
        margin-right: -55px;
        padding-left: 30px;
    }
}
@media all and (max-width: 700px) {
    .a_la_une {
        margin-left: 10px;
        margin-right: 10px;
    }
}
#hebergements {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background-size: cover;
    width: 60%;
}
@media all and (max-width: 1024px) {
    #hebergements {
        width: 100%;
        padding-left: 10px;
        margin-left: 10px;
    }
}
@media all and (max-width: 700px) {
    #hebergements {
        background-color: #fff;
        padding-right: 20px;
        padding-left: 0;
        padding-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}
/*Zone de Hébergements à Marseille*/
.titres {
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
}
@media all and (max-width: 1024px) {
    .titres {
        padding-left: 20px;
    }
}
@media all and (max-width: 700px) {
    .titres {
        margin-bottom: 20px;
        padding-left: 0;
        margin-left: -10px;
    }
}
/*Choix d'hébergements*/
.selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    padding-left: 5px;
    padding-right: 5px;
}
@media all and (max-width: 1024px) {
    .selection {
        justify-content: space-around;
        column-gap: 33px;
        row-gap: 33px;
    }
}
@media all and (max-width: 700px) {
    .selection {
        margin-left: -15px;
        margin-right: -15px;
        row-gap: 20px;
        padding-left: 7px;
        padding-right: 0;
    }
}
/*Légendes des photos*/
.legendes {
    padding-left: 15px;
}
.legendes div {
    font-size: 12px;
    padding-top: 8px;
}
/*Nom de l'hôtel*/
.legendes .hotel {
    font-size: 18px;
    padding-top: 10px;
    font-weight: Bold;
}
/*Prix*/
.legendes .tarifs {
    font-size: 14px;
    padding-top: 10px;
}
/*Mise en forme des différents choix proposés*/
.carte {
    border: white solid 5px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    width: 250px;
    height: 195px;
    box-shadow: 3px 5px 5px #e2e2e2;
}
@media all and (max-width: 700px) {
    .carte {
        flex-direction: column;
        width: 100%;
    }
}
/*Enlève soulignage des liens*/
.carte a {
    text-decoration: none;
    color:black;
}
#hebergements .carte {
    font-size: 10px;
    background-size: cover;
}
/*Hebergements à Marseille*/
.titres h2 {
    height: 58px;
    font-size: 22px;
    justify-content: center;
    justify-items: center;
    line-height: 58px;
    font-weight: Bold;
}
@media all and (max-width: 700px) {
    .titres h2 {
        margin-left: 10px;
        height: 0;
        line-height: 0;
    }
}
/*Afficher plus*/
.more {
    font-weight: Bold;
    font-size: 18px;
    padding-left: 5px;
    margin-top: 40px;
}
@media all and (max-width: 1024px) {
    .more {
        padding-left: 20px;
    }
}
@media all and (max-width: 700px) {
    .more {
        padding-left: 0;
    }
}
/*Enlève le soulignage des liens*/
#hebergements a {
    text-decoration: none;
    color: black;
}

/*mise en page des photos d'hébergements*/
.auberge_la_cannebiere {
    background-image: url("images/hebergements/auberge_la_cannebiere.jpg");
    background-size: cover; /*remplis*/
    border-radius: 20px 20px 0px 0px; /*arrondi bordure*/
    width: 250px; /*longueur*/
    height: 115px; /*hauteur*/
    background-position: center; /*au centre de la carte*/
}
.hotel_du_port {
    background-image: url("images/hebergements/hotel_du_port.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 115px;
    background-position: center;
}
.hotel_les_mouettes {
    background-image: url("images/hebergements/hotel_les_mouettes.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 115px;
    background-position: center;
}
.hotel_de_la_mer {
    background-image: url("images/hebergements/hotel_de_la_mer.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 115px;
    background-position: center;
}
.auberge_le_panier {
    background-image: url("images/hebergements/auberge_le_panier.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 115px;
    background-position: center;
}
.hotel_chez_amina {
    background-image: url("images/hebergements/hotel_chez_amina.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 250px;
    height: 115px;
    background-position: center;
}
@media all and (max-width: 700px) {
    .auberge_la_cannebiere,
    .hotel_du_port,
    .hotel_les_mouettes,
    .hotel_de_la_mer,
    .auberge_le_panier,
    .hotel_chez_amina {
        width: 100%;
    }
}
/*section populaires*/
#populaires {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    font-size: 12px;
}
@media all and (max-width: 1024px) {
    #populaires {
        padding-left: 45px;
    }
}
@media all and (max-width: 700px) {
    #populaires {
        border-radius: 0;
        padding-left: 10px;
        padding-right: 5px;
        margin-left: -15px;
        margin-right: -15px;
    }
}
.selection_populaires {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}
@media all and (max-width: 700px) {
    .selection_populaires {
        padding-left: 10px;
        padding-right: 5px;
        row-gap: 20px;
    }
}
/*Zone de les plus populaires*/
.titres_populaires {
    padding-left: 5px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}
/*Icone graph*/
.titres_populaires .icone_populaires {
    margin-right: -30px;
    font-size: 23px;
    align-items: center;
    height: 100px;
    line-height: 100px;
}
/*Les plus populaires*/
.titres_populaires h2 {
    height: 25px;
    font-size: 22px;
    justify-content: center;
    justify-items: center;
    line-height: 58px;
    font-weight: Bold;
}
@media all and (max-width: 700px) {
    .titres_populaires h2 {
        padding-left: 10px;
    }
}
.carte_populaires {
    background-color: #fff;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 3px 5px 5px #e2e2e2;
}
/*Enlève le soulignage des liens*/
.carte_populaires a {
    text-decoration: none;
    color: black;
}
.legendes_populaires {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 200px;
}
.legendes_populaires p {
    margin-top: 5px;
    margin-bottom: 0;
}
.choix_populaires {
    display: grid;
    grid-template-columns: 135px 1fr;
    grid-column-gap: 10px;
    border-radius: 20px 20px 20px 20px;
}
/*noms d'hôtels populaires*/
.choix_populaires .hotel_populaires {
    font-size: 18px;
    padding-top: 11px;
    padding-left: 10px;
    font-weight: bold;
}
/*prix*/
.choix_populaires .tarifs {
    padding-left: 11px;
    font-size: 14px;
    padding-top: 10px;
}
/*décalage des étoiles*/
.choix_populaires .etoiles {
    padding-top: 45px;
    font-size: 11px;
    padding-left: 11px;
}
/*mise en page photos populaires*/
.hotel_le_soleil_du_matin {
    background-position: center;
    background-size: cover;
    background-image: url("./images/populaires/hotel_le_soleil_du_matin.jpg");
    border-radius: 20px 0px 0px 20px;
    height: 135px;
}
.au_coeur_de_l_eau_chambres_d_hotes {
    background-position: center;
    background-size: cover;
    background-image: url("./images/populaires/au_coeur_de_l_eau_chambres_d_hotes.jpg");
    border-radius: 20px 0px 0px 20px;
    height: 135px;
}
.hotel_tout_bleu_et_blanc {
    background-position: center;
    background-size: cover;
    background-image: url("./images/populaires/hotel_tout_bleu_et_blanc.jpg");
    border-radius: 20px 0px 0px 20px;
    height: 135px;
}
/*---------------*/
/*---activités---*/
/*---------------*/
#activite {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 80px;
}
@media all and (max-width: 1024px) {
    #activite {
        margin-left: -10px;
    }
}
@media all and (max-width: 700px) {
    #activite {
        padding-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}
/*Activités*/
#activite h2 {
    height: 58px;
    font-size: 22px;
    justify-content: center;
    justify-items: center;
    line-height: 58px;
}
@media all and (max-width: 700px) {
    #activite h2 {
        margin-left: 10px;
    }
}
/*Enlève le soulignage des liens*/
#activite a {
    text-decoration: none;
    color: black;
}
.titre_activite p {
    font-size: 16px;
    font-weight: Bold;
    margin-left: 5px;
}
.selection_activite {
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr;
    column-gap: 45px;
    row-gap: 30px;
    padding-bottom: 50px;
}
@media all and (max-width: 1024px) {
    .selection_activite{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}
@media all and (max-width: 700px) {
    .selection_activite {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        padding-bottom: 30px;
    }
}
.carte_activite {
    border: white solid 5px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 2fr;
    box-shadow: 3px 5px 5px #e2e2e2;
    height: 100%;
}
.carte_activite p {
    padding-left: 15px;
}
/*mise en page photos activités*/
.vieux_port {
    background-image: url("./images/activités/vieux_port.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    background-position: center;
    height: 390px;
}
@media all and (max-width: 1024px) {
    .vieux_port {
        height: 390px;
        width: 100%;
    }
}
@media all and (max-width: 700px) {
    .vieux_port {
        height: 135px;
    }
}
.fort_de_pomegues {
    background-image: url("./images/activités/fort_de_pomegues.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    background-position: center;
}
@media all and (max-width: 1024px) {
    .fort_de_pomegues {
        height: 390px;
        width: 100%;
    }
}
@media all and (max-width: 700px) {
    .fort_de_pomegues {
        height: 135px;
    }
}
.iles_du_frioul {
    background-image: url("./images/activités/iles_du_frioul.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    background-position: center;
}
@media all and (max-width: 1024px) {
    .iles_du_frioul {
        height: 390px;
        width: 100%;
    }
}
@media all and (max-width: 700px) {
    .iles_du_frioul {
        height: 135px;
    }
}
.parc_national_des_calanques {
    background-image: url("./images/activités/parc_national_des_calanques.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    background-position: center;
}
@media all and (max-width: 1024px) {
    .parc_national_des_calanques {
        height: 390px;
        width: 100%;
    }
}
@media all and (max-width: 700px) {
    .parc_national_des_calanques {
        height: 135px;
    }
}
.notre_dame_de_la_garde {
    background-image: url("./images/activités/notre_dame_de_la_garde.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    background-position: center;
}
@media all and (max-width: 1024px) {
    .notre_dame_de_la_garde {
        height: 390px;
        width: 100%;
    }
}
@media all and (max-width: 700px) {
    .notre_dame_de_la_garde {
        height: 135px;
    }
}
.parc_longchamps {
    background-image: url("./images/activités/parc_longchamp.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    background-position: center;
}
@media all and (max-width: 1024px) {
    .parc_longchamps {
        height: 390px;
        width: 100%;
    }
}
@media all and (max-width: 700px) {
    .parc_longchamps {
        height: 135px;
    }
}
/*Alignement carte activités avec grid*/
.vieux {
    grid-row: span 6; /*sur 6 lignes*/
    grid-column-start: 1; /*commence dans la colonne 1*/
    border-radius: 20px 20px 20px 20px;
}
@media all and (max-width: 1024px) {
    .vieux {
        grid-row: 1;
        grid-column-start: 1;
    }
}
.pomegues {
    grid-row: span 4; /*sur 4 lignes*/
    grid-column-start: 2; /*commence dans la colonne 2*/
    border-radius: 20px 20px 20px 20px;
}
@media all and (max-width: 1024px) {
    .pomegues {
        grid-row: 1;
        grid-column-start: 2;
    }
}
.iles {
    grid-row: 5 / span 2; /*sur 2 lignes à partir de la ligne 5*/
    grid-column-start: 2; /*commence dans la colonne 2*/
    border-radius: 20px 20px 20px 20px;
}
@media all and (max-width: 1024px) {
    .iles {
        grid-row: 2;
        grid-column-start: 1;
    }
}
.calanques {
    grid-row: span 6; /*sur 6 lignes*/
    grid-column-start: 3; /*commence dans la colonne 3*/
    border-radius: 20px 20px 20px 20px;
}
@media all and (max-width: 1024px) {
    .calanques {
        grid-row: 2;
        grid-column-start: 2;
    }
}
.dame {
    grid-row: span 3; /*sur 3 lignes*/
    grid-column-start: 4; /*commence dans la colonne 4*/
    border-radius: 20px 20px 20px 20px;
}
@media all and (max-width: 1024px) {
    .dame {
        grid-row: 3;
        grid-column-start: 1;
    }
}
.longchamps {
    grid-row: 4 / span 3; /*sur 3 lignes à partir de la ligne 4*/
    grid-column-start: 4; /*commence dans la colonne 4*/
    border-radius: 20px 20px 20px 20px;
}
@media all and (max-width: 1024px) {
    .longchamps {
        grid-row: 3;
        grid-column-start: 2;
    }
}
/*------------*/
/*---footer---*/
/*------------*/
footer {
    display: flex;
    flex-direction: row; /*orga sur une ligne*/
    flex-wrap: wrap; /*retour à la ligne si plus de place*/
    justify-content: space-between; /*éléments étirés, espace entre eux*/
    background-color: #f2f2f2;
    font-size: 18px;
    margin-top: 20px; /*marge extérieur*/
    margin-left: -50px; /*annulé marge goblale*/
    margin-right: -50px;
    padding-bottom: 20px; /*marge intérieur*/
    padding-left: 60px;
    padding-right: 350px;
    padding-top: 20px;
}
@media all and (max-width: 1024px) {
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 18px;
        margin-top: 20px;
        margin-left: -50px;
        margin-right: -50px;
        padding-bottom: 50px;
        padding-left: 50px;
        padding-top: 20px;
        padding-right: 50px;
    }
}
@media all and (max-width: 700px) {
    /*En colonne sur mobile*/
    footer {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        margin-right: -15px;
        margin-left: -15px;
        padding-left: 40px;
        padding-right: 10px;
    }
}
footer nav {
    font-size: 16px; /*taille police menu*/
}
.footer_police a {
    text-decoration: none; /*enlever le soulignage*/
    color: black;
}
.footer_police strong {
    font-weight: Bold; /*niveau de gras*/
}