@font-face {
    font-family: 'Raleway_Regular';
    src: url('Raleway_Regular.ttf');
}
body {
    font-family: 'Raleway_Regular', Arial, 'Arial Black', 'Comic Sans MS', Georgia, 'Times New Roman', Times, serif;
}
#logo {
    margin-right: auto;
}
#logo img {
    margin-top: 40px;
    weight: 50px;
    width: 100px;
}
#entete {
    display: flex;
    justify-content: flex-end;
}
#menu {
    padding-top: 45px;
    display: flex;
    margin-right: 60px;
    gap: 60px;
}
#menu div a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
#menu div :hover {
    /*survole*/
    border-top: #0065fc solid 2px;
    color: #0065fc;
    padding-top: 42px;
    align-items: center;
}
#inscription {
    padding-top: 45px;
    padding-right: 2%;
    font-size: 17px;
}
#inscription a {
    text-decoration: none;
    font-weight: bold;
    color: #0065fc
}
.recherche {
    padding-top: 30px;
    font-size: 22px;
}
.recherche form {
    padding-top: 17px;
}
.recherche .st {
    margin-top: 10px;
}
.st {
    font-size: 16px;
}
.bloc_recherche {
    display: flex;
    margin-bottom: 9px;
    font-size: 17px;
}
.position_map {
    border: #f2f2f2 solid 2px;
    border-radius: 13px 0px 0px 13px;
    font-size: 17px;
    background-color: #f2f2f2;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formulaire {
    height: 50px;
    width: 230px;
    border: #f2f2f2 solid 2px;
    font-weight: bold;
    font-size: 17px;
}
.formulaire input {
    text-decoration: none;
    border: none;
    height: 50px;
    font-weight: bold;
    width: 100%;
}
.formulaire input::placeholder {
    /*intérieur bouton recherche*/
    color: black;
    font-size: 17px;
    padding-left: 15px;
}
.bouton {
    border: #0065fc solid 2px;
    border-radius: 0px 13px 13px 0px;
    font-size: 17px;
    background-color: #0065fc;
    color: white;
    height: 50px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bouton a {
    text-decoration: none;
    color: white;
    align-items: center;
}
.filtres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 50px;
    gap: 30px;
}
.mon_filtre {
    margin-right: 1%;
    margin-bottom: 0;
    margin-left: 10px;
}
.filtres a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 46px;
    line-height: 46px;
}
.filtres a:hover {
    color: #0065fc;
}
.filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: #f2f2f2 solid 2px;
    border-radius: 50px;
    margin-right: 29px;
    height: 46px;
    line-height: 46px;
    padding-right: 25px;
}
.elements_filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.filtre .fa {
    font-size: 26px;
    margin-left: -18px;
    margin-top: -2px;
}
.filtre .fa-stack-1x {
    font-size: 17px;
}
.hebergement {
    display: flex;
    justify-content: space-between;
    margin-left: 33px;
    margin-right: 33px;
    column-gap: 33px;
}
#hebergements {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-rows: 55px 1fr 1fr 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    column-gap: 33px;
    row-gap: 33px;
    background-size: cover;
}
.legendes {
    padding-left: 15px;
}
.legendes div {
    font-size: 12px;
    padding-top: 8px;
}
.legendes .hotel {
    font-size: 16px;
    padding-top: 10px;
}
.legendes .tarifs {
    font-size: 14px;
    padding-top: 10px;
}
.carte {
    border: white solid 5px;
    background-color: white;
    border-radius: 20px;
    display: grid;
    width: 266px;
    height: 195px;
    grid-template-rows: 2fr;
    box-shadow: 3px 5px 5px #e2e2e2;
}
.carte a {
    text-decoration: none;
    color:black;
}
#hebergements .carte {
    font-size: 10px;
    background-size: cover;
}
#hebergements h3 {
    height: 58px;
    font-size: 22px;
    justify-content: center;
    justify-items: center;
    line-height: 58px;
    font-weight: bold
}
.more {
    font-weight: bold;
    font-size: 18px;
    padding-left: 5px;
}
p a {
    text-decoration: none;
    color: black;
}

/*mise en forme des photos*/
.auberge_la_cannebiere {
    background-image: url("images/hebergements/auberge_la_cannebiere.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 265px;
    height: 110px;
    background-position: center;
}
.hotel_du_port {
    background-image: url("images/hebergements/hotel_du_port.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 265px;
    height: 110px;
    background-position: center;
}
.hotel_les_mouettes {
    background-image: url("images/hebergements/hotel_les_mouettes.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 265px;
    height: 110px;
    background-position: center;
}
.hotel_de_la_mer {
    background-image: url("images/hebergements/hotel_de_la_mer.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 265px;
    height: 110px;
    background-position: center;
}
.auberge_le_panier {
    background-image: url("images/hebergements/auberge_le_panier.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 265px;
    height: 110px;
    background-position: center;
}
.hotel_chez_amina {
    background-image: url("images/hebergements/hotel_chez_amina.jpg");
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 265px;
    height: 110px;
    background-position: center;
}
#populaires {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    grid-template-columns: auto;
    grid-template-rows: 55px 2fr 2fr 2fr;
    grid-row-gap: 33px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 30px;
    font-size: 12px;
}
.carte_populaires {
    background-color: #fff;
    border-radius: 20px;
    border: 5px solid white;
    width: 782px;
    height: 145px;
    box-shadow: 3px 5px 5px #e2e2e2;
}
.carte_populaires a {
    text-decoration: none;
    color: black;
}
.legendes_populaires {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 170px;
}
.legendes_populaires p {
    margin-top: 5px;
    margin-bottom: 0;
}
.choix_populaires {
    display: grid;
    grid-template-columns: 135px 1fr;
    grid-column-gap: 10px;
    border-radius: 20px 20px 20px 20px;
}
.choix_populaires .hotel_populaires {
    font-size: 16px;
    padding-top: 11px;
    padding-left: 10px;
}
.choix_populaires .tarifs {
    padding-left: 11px;
    font-size: 14px;
    padding-top: 10px;
}
.choix_populaires .etoiles {
    padding-top: 45px;
    font-size: 11px;
    padding-left: 11px;
}
.hotel_le_soleil_du_matin {
    background-position: center;
    background-size: cover;
    background-image: url("./images/populaires/hotel_le_soleil_du_matin.jpg");
    border-radius: 20px 0px 0px 20px;
    height: 135px;
}
.au_coeur_de_l_eau_chambres_d_hotes {
    background-position: center;
    background-size: cover;
    background-image: url("./images/populaires/au_coeur_de_l_eau_chambres_d_hotes.jpg");
    border-radius: 20px 0px 0px 20px;
    height: 135px;
}
.hotel_tout_bleu_et_blanc {
    background-position: center;
    background-size: cover;
    background-image: url("./images/populaires/hotel_tout_bleu_et_blanc.jpg");
    border-radius: 20px 0px 0px 20px;
    height: 135px;
}